;; Shareable config — release deps for GitHub distribution.
{:deps {io.github.hive-agi/modex-bb {:git/tag "v0.1.14" :git/sha "7c26331a3b75903dbf646ef780082ac12492c148"}
        io.github.bhauman/clojure-mcp-light {:git/tag "v0.2.1"
                                             :git/sha "31e19702feea79e4b98c8d89d9df6e297cc740bf"}}}
