{:angle-not-whitelisted nil,
 :antml-deep-namespaced "<antml:foo_bar",
 :antml-invoke "<antml:invoke",
 :antml-parameter "<antml:parameter",
 :clean-clojure nil,
 :embedded-in-source "<invoke",
 :empty nil,
 :empty-angles nil,
 :function-calls "<function_calls",
 :invoke-bare "<invoke",
 :invoke-self-closed "<invoke",
 :invoke-with-attr "<invoke",
 :invoker-not-tag nil,
 :keyword-input nil,
 :less-than-comparator nil,
 :new-body-bare "<new-body",
 :new-body-closed "<new-body",
 :nil-input nil,
 :parameter-bare "<parameter",
 :parameter-block-not-tag nil,
 :parameter-with-attr "<parameter",
 :string-with-angle-brackets nil,
 :two-tags-first-wins "<parameter",
 :whitespace nil}
